.bgcontainer{
    background-color: black;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

::-webkit-scrollbar{
    display: none;
}

.preloader{
    transition: 400ms ease-in-out;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}